streamlit
pandas
supabase
minio==7.2.20
pyarrow
python-dotenv
requests-oauthlib
office365-rest-python-client
openpyxl
git+https://github.com/DellaVolpe69/Modulos.git@main
qrcode>=8.2
streamlit-drawable-canvas==0.13.0
fpdf2>=2.8.9
